<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SONA Studies Dashboard</title>
</head>
<body>
    <h1>SONA Studies Dashboard (MKT)</h1>
    <p> hello </p>
    <ul>
        {% for study in study_data %}
            <li>{{ study.study_name }} (ID: {{ study.id }}) - Duration: {{ study.duration }} minutes - Participants: {{ study.participated_amount }} -> Total Duration: {{ (study.participated_amount | int) * (study.duration | int) }} minutes</li>
        {% endfor %}
    </ul>
    <h2> the total amount of research hour accumulated: {{total_duration}} </h2>
</body>
</html>
